<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    <title>Kitchen-App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Mooli&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main_page.css">
  </head>
  <header>
    <nav class="same-line">
        <a href="<%= link7 %>">Home</a>
        <a href="<%= link1 %>">Text</a>
        <a href="<%= link2 %>">Choices</a>
        <a href="<%= link3 %>">To Do</a>
        <a href="<%= link4 %>">Profile</a>
        <a href="<%= link5 %>">Colors</a>
        <a href="<%= link6 %>">Lower Right</a>
    </nav>
</header>
  <body>
    <div id="heading">
        Welcome To Our Kitchen App
    </div>
  </body>
</html>
